.main__info {
  height: 0;
  position: relative;
  overflow: hidden;
  transition: all 500ms;
  margin-top: 30px;
  &.active {
    height: 700px;
  }
  &-close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 50%;
    color: white;
    padding: 20px;
    z-index: 100;
  }
  &-block {
    height: 100%;
    &-img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 60%;
      object-fit: cover;
    }
    &-content {
      background: linear-gradient(90deg, #000000 40%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 67.73%);
      position: relative;
      height: 100%;
    }
    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      height: 100%;
      width: 50%;
      padding-left: 50px;
      &-title {
        font-size: 50px;
        line-height: 120%;
        color: white;
      }
      &-text {
        font-size: 20px;
        line-height: 150%;
        color: white;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
      &-descr {
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
      }
    }
  }
}